//@import 'self'
//@import 'aloha/css/aloha.css'
//@import "font-awesome"
//@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic); //font-family: 'Roboto', sans-serif;
//@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic); //font-family: 'Ubuntu', sans-serif;
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=cyrillic); // font-family: 'PT Sans', sans-serif;
@import "screen";
@import "posts";

html {
  font-family: 'PT Sans', sans-serif;
  background:silver url("/images/all/main_bg.png"); 
  line-height:27px; 
  height:100%;}
body {margin:0 auto; width:1200px; line-height:20px; height:100%;}
a {border:none; text-decoration:none;}

#page {background-image:url("/images/all/bg.png"); height:100%;}
#status {display:none; width:20px; height:20px; background-image:url("/images/all/progress.gif"); top:50%; left:50%; position:fixed; z-index:99;}
.clear {clear:both;}
.hide {display:none;}

//-------top--------------
#zagolovok {width:100%; height:280px; background-image:url("/images/all/title.png");}
.content_line {background-repeat:repeat-x; background-image:url("/images/all/Vetka.png"); width:1100px; height:5px; background-position:bottom;}

//-------content-------------
#content {width:1200px; margin:0px; padding:0px; background:#FFFFCC url("/images/all/bg_right.png") repeat-y; }
#span19 {padding:0px; margin:0px 0px 0px 0px; width:800px; float:left; height:100%;}


//-------left----------------
#left {float:left; width:100px; min-height:100px;}
//-------right---------------
@import "right";
//-------footer--------------
#footer {width:100%; height:100px; background-image:url("/images/all/footer.png"); margin:0px;}
.footer_line {background-repeat:repeat-x; background-image:url("/images/all/Vetka.png"); width:1100px; height:5px; background-position:bottom; padding:0px;}

//-------shadow--------------
#shadow{width:100%; height:100%; top:0px; left:0px; background-color:black; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity:0.8; position:fixed; z-index:10; display:none;}

//--------form-in-shadow-----
.center-align{top:50%; left:50%; position:fixed; z-index:11; background-color:#F7FD9F;}
.border-radius{-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

//--------menu---------------
@import "menu";

