// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "jquery/jquery.Jcrop.min";
#add-pict-click {text-align:right;  
	span {display:inline-block; border:1px solid #505050; padding:3px; background-color:#61CB71; color:#505050; cursor:pointer;}
	span:hover{color:black; background-color:#62B76F;}
}
#add-pict{width:500px; height:300px; margin:-150px 0px 0px -250px; display:none; text-align:center;}
#add-pict-crop{width:500px; height:300px; margin:-150px 0px 0px -250px; display:none; text-align:center;
  & img {max-width:300px; max-height:300px;}
}

#show-carusel { width:700px; 
}
