/*
 *=require jquery/jquery.ui.datepicker.css
 *=require jquery/jquery.ui.theme.css
 *=require jquery/jquery-ui.css
 *=require picts
 */
 
#edit_post_click {text-align:center; float:right; width:30px; position:fixed; margin-left:770px; 
	span {display:inline-block; border:1px solid #505050; padding:3px; background-color:#61CB71; color:#505050; cursor:pointer; width:22px;}
	span:hover{color:black; background-color:#62B76F;}
  #edit_post_menu { position:absolute; margin-left:-220px; width:220px; border:1px solid black; min-height:80px; display:none;
  
  }
}
#add-pict{width:500px; height:300px; margin:-150px 0px 0px -250px; display:none; text-align:center;}
#add-pict-crop{width:500px; height:300px; margin:-150px 0px 0px -250px; display:none; text-align:center;
  & img {max-width:300px; max-height:300px;}
}

#show-carusel { width:700px; 
  #show-carusel-all {cursor:pointer;}

}

#show_big { display:none;
  #prev_link {position:fixed; top:50%; left:50px; color:white; cursor:pointer;}
  #next_link {position:fixed; top:50%; right:50px; color:white; cursor:pointer;}
  #close_link {position:fixed; top:10px; right:10px; width:24px; height:24px; background-image:url("/images/all/close.png"); cursor:pointer;}
}

// Form 
#new_post, .edit_post {
  .form-input { display:block; width:100%; text-align:center;
    label {text-align:center; display:block; margin-top:15px; }
    input [type="text"] {width:300px; }
    textarea {width:700px; height:80px;}
  }
}

// View
#post{
  #post_title{text-align:center; font-size:32px; padding:20px 0px;}
  #post_image{text-align:center;}
  table {width:400px; margin:0px auto;
    .label {text-align:right;}
    .value {padding-left:10px;}
  }
}
