.link_add_post {width:100%; text-align:center; margin:20px 0px;}

#user{ 
  .user_photo {width:150px; height:200px; background-color: red; float:left; margin:10px;}
  
  
  .show_image {width:800px; height:100px;}
  .show_image_one {height:100px; float:left;}

}
