-Categories.all.each do |cat|
  %div.menu-item{:class=>('menu-select' if params["cat"] == cat.adress)}
    =link_to cat.name, {:controller=>"/categories", :action=>:show, :cat=>cat.adress}
    %div.submenu
      - cat.subcategories.each do |sub|
        %div.submenu_item
          = link_to sub.title, {:controller=>"/subcategories", :action=>:show, :adress=>sub.adress, :cat=>sub.categories.adress}

