%div#right
  %div#login
    -if user_signed_in?
      =link_to current_user.email, {:controller=>:users, :action=>:index, :id=>current_user.id}
      %br
      =link_to "Управление записями", {:controller=>:users, :action=>:edit_post, :id=>current_user.id}
      %br
      =link_to 'Выход', destroy_user_session_path, :method=>:delete
    -else 
      = render 'devise/sessions/new'
      = link_to 'Регистрация', new_user_registration_path
      
