!!!
%html
  %head
    %title Pictures
    = stylesheet_link_tag  "application", params[:controller]
    = javascript_include_tag "application", params[:controller]
    = csrf_meta_tag
  %body
    %div#status
    %div#shadow
    %div#page
      =render 'layouts/zagolovok'
      /%div.content_line
      %div#content
        %div#left
        %div#span19
          %div#menu
            =render 'layouts/menu' 
          = yield
        =render 'layouts/right'  
        %div.clear
        %div
      =render 'layouts/footer' 

    %iframe.upload_frame{:name=>"upload_frame", :style=>"display: none"}
